<ion-header [translucent]="true">
  <ion-grid>
    <ion-row class="ion-padding header">
      <ion-col>
            <ion-menu-button></ion-menu-button>
      </ion-col>
      <ion-col>
        <img src="assets/Maquettes/Logo%20MONEY%20SA%201.png" alt="">
      </ion-col>
      <ion-col>
        <ion-avatar *ngIf="user">
          <img src="{{'data:image/jpg;base64,'+user.avatar}}" alt="avatar">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-item lines="inset" *ngIf="role=='ROLE_AdminAgence'">
      <ion-grid >
        <ion-row>
          <small>Mon solde disponible</small>
        </ion-row>
        <ion-row id="show_hide_password">
          <ion-input *ngIf="account" class="amount" size="large" type="text" value="{{account.balance+' FCFA'}}" readonly=""></ion-input>
          <div class="eye">
            <a href=""><ion-icon name="eye"></ion-icon></a>
          </div>
        </ion-row>
        <ion-row>
          Mis à jour le:
        </ion-row>
      </ion-grid>
      </ion-item>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true" >
<ion-card>
  <ion-grid>
    <ion-row *ngIf="role=='ROLE_AdminAgence'" [routerLink]="['/depot']">
      <ion-item class="content">
        <ion-col class="icon_name">
        <ion-icon size="default" class="ion-margin-horizontal" name="return-up-forward-outline"></ion-icon>
          <span>Dépôt</span>
        </ion-col>
        <ion-col>
          <ion-icon size="default" class="ion-float-end" name="caret-forward-circle-outline"></ion-icon>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="role=='ROLE_AdminAgence'"  [routerLink]="['/retrait']">
      <ion-item class="content">
        <ion-col class="icon_name">
          <ion-icon size="default" class="ion-margin-horizontal" name="return-up-back-outline"></ion-icon>
          <span>Retrait</span>
        </ion-col>
        <ion-col>
          <ion-icon size="default" class="ion-float-end" name="caret-forward-circle-outline"></ion-icon>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="role=='ROLE_AdminAgence'"  [routerLink]="['/transaction']">
      <ion-item class="content">
        <ion-col class="icon_name">
          <ion-icon size="default" class="ion-margin-horizontal" name="wallet-outline"></ion-icon>
          <span>Mes transactions</span>
        </ion-col>
        <ion-col>
          <ion-icon size="default" class="ion-float-end" name="caret-forward-circle-outline"></ion-icon>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="role=='ROLE_AdminAgence'">
      <ion-item class="content">
        <ion-col class="icon_name">
          <ion-icon size="default" class="ion-margin-horizontal" name="pricetags-outline"></ion-icon>
          <span>Toutes les transactions</span>
        </ion-col>
        <ion-col>
          <ion-icon size="default" class="ion-float-end" name="caret-forward-circle-outline"></ion-icon>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="role=='ROLE_AdminAgence'" [routerLink]="['/commission']">
      <ion-item class="content">
        <ion-col class="icon_name">
          <ion-icon size="default" class="ion-margin-horizontal" name="cash-outline"></ion-icon>
          <span>Les comissions</span>
        </ion-col>
        <ion-col>
          <ion-icon size="default" class="ion-float-end" name="caret-forward-circle-outline"></ion-icon>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row *ngIf="role=='ROLE_AdminAgence'" [routerLink]="['/calculateur']">
      <ion-item class="content">
        <ion-col class="icon_name">
          <ion-icon size="default" class="ion-margin-horizontal" name="calculator-outline"></ion-icon>
          <span>Calculateur de frais</span>
        </ion-col>
        <ion-col>
          <ion-icon size="default" class="ion-float-end" name="caret-forward-circle-outline"></ion-icon>
        </ion-col>
      </ion-item>
    </ion-row>


    <div class="admin ion-margin-top" *ngIf="role=='ROLE_AdminSystem'">
      <ion-item>
        <ion-label>{{ date | date: 'dd/MM/yyyy' }}</ion-label>
        <ion-badge color="success" slot="end">connecté</ion-badge>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-chip [routerLink]="['/list-users']">
            <ion-icon name="people"></ion-icon>
            <ion-label>liste users</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip  [routerLink]="['/create-user']">
            <ion-icon name="person-add"></ion-icon>
            <ion-label>Ajout user</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-chip [routerLink]="['/create-agence']">
            <ion-icon name="business"></ion-icon>
            <ion-label>Creer agence</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip [routerLink]="['/list-agence']">
            <ion-icon name="list"></ion-icon>
            <ion-label>Liste agences</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-chip>
            <ion-icon name="key"></ion-icon>
            <ion-label>Creer compte</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip [routerLink]="['/faire-depot']">
            <ion-icon name="wallet"></ion-icon>
            <ion-label>Faire Dépot</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-chip>
            <ion-icon name="close-circle"></ion-icon>
            <ion-label>Annuler Dépot</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip [routerLink]="['/list-depot']">
            <ion-icon name="cash"></ion-icon>
            <ion-label>Liste des Dépot</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </div>
   <ion-row (click)="logOut()">
      <ion-item class="content">
        <ion-col class="icon_name">
          <ion-icon size="default" class="ion-margin-horizontal" name="log-out-outline"></ion-icon>
          <span>Déconnexion</span>
        </ion-col>
        <ion-col>
          <ion-icon size="default" class="ion-float-end" name="caret-forward-circle-outline"></ion-icon>
        </ion-col>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <div><ion-icon routerLink="/home" routerLinkActive='active-item'  name="home-outline" size="large"></ion-icon></div>
          <small>home</small>
        </ion-col>
        <ion-col>
          <div> <ion-icon name="wallet-outline" size="large"></ion-icon></div>
          <small>transactions</small>
        </ion-col>
        <ion-col>
          <div><ion-icon name="cash-outline" size="large"></ion-icon></div>
          <small>comissions</small>
        </ion-col>
        <ion-col>
          <div> <ion-icon name="calculator-outline" size="large"></ion-icon></div>
          <small>calculator</small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
