<ion-header [translucent]="true">
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col>
        <a><ion-back-button defaultHref="/list-depot" text="Back"></ion-back-button></a>
      </ion-col>
      <ion-col>
        <img src="assets/Maquettes/Logo%20MONEY%20SA%201.png" alt="">
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-badge>  {{depotsUser.length}}</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col class="icon_name">
        <span>User: {{user}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>
<ion-content class="ion-margin">
  <ion-grid class="ion-margin table">
    <div class="ion-text-center">
      <ion-badge>Les dépot d'un User</ion-badge>
    </div>

    <ion-row class="tableHead">
      <ion-col>Date</ion-col>
      <ion-col>Montant</ion-col>
      <ion-col>User</ion-col>
    </ion-row>
    <ion-row *ngFor="let d of depotsUser  | paginate: { itemsPerPage: 4, currentPage: p }">
      <ion-col>{{d.date| date:'M/d/yy'}}</ion-col>
      <ion-col><ion-avatar>{{d.amount+ ' cfa'}}</ion-avatar></ion-col>
      <ion-col>{{d.user.firstname}}</ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-float-right"> <pagination-controls (pageChange)="p = $event"maxSize="0"></pagination-controls></div>

</ion-content>
