<ion-header [translucent]="true">
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col>
        <a [routerLink]="['/home']"><ion-icon class="home" name="home" size="large"></ion-icon></a>
      </ion-col>
      <ion-col>
        <img src="assets/Maquettes/Logo%20MONEY%20SA%201.png" alt="">
      </ion-col>
      <ion-col class="ion-text-end">
      <ion-badge>  {{users.length}}</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col class="icon_name">
        <span>Liste des Utilisateurs</span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>
<ion-content class="ion-margin">
  <ion-grid class="ion-margin table">
    <div>
      <ion-fab [routerLink]="['/create-user']">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
        <ion-badge class="title">Liste des Utilisateurs</ion-badge>
    </div>

    <ion-row class="tableHead">
      <ion-col>Nom</ion-col>
      <ion-col>Phone</ion-col>
      <ion-col>A</ion-col>
    </ion-row>
    <ion-row *ngFor="let u of users | paginate: { itemsPerPage: 7, currentPage: p }">
      <ion-col>{{ u.lastname}}</ion-col>
      <ion-col>{{u.phone}}</ion-col>
      <ion-col><ion-icon [routerLink]="['/create-user',u.id]" class="pencil" name="pencil"></ion-icon> <ion-icon (click)="delete(u.id)" class="trash" name="close-circle"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
 <div class="ion-float-right"> <pagination-controls (pageChange)="p = $event"maxSize="0"></pagination-controls></div>
</ion-content>
