ion-header{
  background-color: #d0d0d0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  ion-row{
    ion-col{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .home{
    color: #54c0d0;
  }
}

.header_table {
  background: #54c0d0;
  color: #fff;
  font-size: 18px;
}

.table ion-col {
  border: 1px solid #ECEEEF;
  padding: 10px;
}

