<ion-header [translucent]="true">
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col>
        <a [routerLink]="['/home']"><ion-icon class="home" name="home" size="large"></ion-icon></a>
      </ion-col>
      <ion-col>
        <img src="assets/Maquettes/Logo%20MONEY%20SA%201.png" alt="">
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col class="icon_name">
        <ion-icon name="cash-outline" size="large"></ion-icon>
        <span class="ion-margin-start">Mes Commissions</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content fullscreen>

  <ion-row>
    <ion-col>
      <ion-select #val value="depot" (ionChange)="typeDepot(val)" interface="popover" >
        <ion-select-option value="depot">depot</ion-select-option>
        <ion-select-option value="retrait">retrait</ion-select-option>
      </ion-select>
    </ion-col>

  </ion-row>

  <ion-grid class="ion-text-center table ion-margin-bottom">

    <ion-row class="header_table">
      <ion-col>
        <ion-text>Date</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Montant</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Frais</ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let c of commissions">
      <ion-col>
        <ion-text *ngIf="type.value=='depot'; else date">
         {{c.depositDate| date:'dd.MM.y'}}
        </ion-text>
        <ng-template #date><ion-text>{{c.withdrawalDate| date:'dd.MM.y'}}</ion-text></ng-template>
      </ion-col>

      <ion-col>
        <ion-text>
        {{c.amount+ ' CFA'}}
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text *ngIf="type.value=='depot'; else def">
        {{c.shippingTaxe+ ' CFA'}}
        </ion-text>
        <ng-template #def><ion-text>{{c.withdrawalTaxe+ ' CFA'}}</ion-text></ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-item lines="none">
  <ion-badge class="ion-padding" slot="end">{{type.value=='depot'? ' Total frais Dépot: '+ total+ ' Franc CFA': ' Total Frais Retrait: '+ total+ ' Franc CFA'}}</ion-badge>
</ion-item>
</ion-content>
